doctype html
html(lang="en")
  head
    title!= title
    link(rel='stylesheet', href='/openshift.css')
  body
    section.container
       hgroup
         h1 Hello OpenShift World!
       div.row
         section
           section
             h2 Deploying code changes
             p OpenShift uses the <a href="http://git-scm.com/">Git version control system</a> for your source code, and grants you access to it via the Secure Shell (SSH) protocol. In order to upload and download code to your application you need to give us your <a href="https://developers.openshift.com/en/managing-remote-connection.html">public SSH key</a>. You can upload it within the web console or install the <a href="https://developers.openshift.com/en/managing-client-tools.html">RHC command line tool</a> and run <code>rhc setup</code> to generate and upload your key automatically.
             h3 Working in your local Git repository

           section 
             h2 Managing your application

             h3 Web Console
             p You can use the OpenShift web console to enable additional capabilities via cartridges, add collaborator access authorizations, designate custom domain aliases, and manage domain memberships.

             h3 Command Line Tools
  footer
    div.logo <a href="https://www.openshift.com/"></a>